@media screen and (min-width: 480px) {
    .container {
        max-width: 428px;
    }

    .container-mini {
       max-width: 264
       px;
    }

    .icons {
        display: none;
    }

    .feature-list {
        color: var(--primary-text-color);
        margin: 0 auto;
        padding-bottom: 96px;

    }

    .feature-list-title {
        color: var(--title-text-color);
        font-weight: 700;
        font-size: 36px;
        line-height: 1.1;
        margin-top: 72px;
    }

    .work-list {
        display: none;
    }

    .team-list {
        gap: 24px;
    }

    .text {
        flex-wrap: wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;

    }

    .hero-title {
        color: #FFFFFF;
        font-size: 36px;
        line-height: 1.1;
        text-align: center;
        margin-bottom: 72px;
        max-width: 396px;
    }

    .hero {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-tablet.jpg);
        max-width: 100%;
        padding-top: 112px;
        padding-bottom: 112px;
        max-width: 100%;
        justify-content: center;
    }
    
        @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            .hero {
                background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                    url(../images/bg-tablet-2x.jpg);
            }
        }

    .section {
        background: #FFFFFF;
    

    }


 .modal {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(1) rotate(0);
            padding: 24px;
            width: 392px;
            min-height: 586px;
            background-color: #FCFCFC;
            border-radius: 4px;
            transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .link-tel-moby {
     color: #4D5AE5;
     transition:
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     font-weight: 600;
     font-size: 36px;
     line-height: 1.1;
     text-decoration: none;
     letter-spacing: 0.02em;
     text-transform: capitalize;
 }

 .link-tel-moby:hover,
 .link-tel-moby:focus {
     color: var(--accent-color);
 }
 .social-list-footer-moby {
     display: flex;
     gap: 56px;
 }

.online-input {
    width: 396px;
}
.costumer-mini {
    max-width: 396px;
}
.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    max-width: 396px;
}
}