
:root {
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --accent-color: #4D5AE5;
    --button-color: #FFFFFF;
    --primary-bg-color: #FFFFFF;
}

body {
    background-color: var(--primary-bg-color);
    color:var(--primary-text-color);
    font-family: roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
   margin: 0;
}
ul {
   margin: 0;
   padding-left: 0;
}

button {cursor: pointer;}

ul {
    list-style: none;
} 
img {
   display: block;
   width: 100%;
}
.section-title-portfolio {
   text-decoration: none;
}

.text-portfolio {
   text-decoration: none;
}
.link {
   text-decoration: none;
}
.list {
   list-style: none;
   
}


.nav-list
{display: flex;
   align-items: center;

}
.list-mail {
   text-decoration: none;
}
.logo-footer:hover {
   color: #2E2F42;
}


.visually-hidden{
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   white-space: nowrap;
   clip-path: inset(100%);
   clip: rect(0 0 0 0);
   overflow: hidden;

}


.header-container {
   display: flex;
   align-items: center;
   border-bottom: 1px #E7E9FC;
   
}
.page-header {
   background: #FFFFFF;
   padding-top: 24px;
   padding-bottom: 24px;
   display: flex;
   border-bottom: 1px solid #E7E9FC;
}
 .logo
 { color: #2E2F42;
   text-align: start;
   font-family: Raleway, cursive;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-decoration: none;
   text-transform: uppercase;
}
   

 .logo-footer
 {color: #F4F4FD;
   font-family: Raleway, cursive;
   display: block;
   text-align: center;
   font-weight: 800;
   font-size: 18px;
   line-height: 1.3;
   letter-spacing: 0.03em;
   text-transform: uppercase;
}

.auth-nav {
   display: none;
}



 .menu-open-btn {
   display: block;

 }


.link-portfolio{
   margin-left: 40px;
}

.no-scroll {
   overflow: hidden;
}

.link-contacts{
   margin-left: 40px;
}
 .list-mail {
   color: #2E2F42;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-style: normal;
   font-size: 16px;
      line-height: 1.5;
      text-decoration: none;   
 }

 .tel-list {
   color: #2E2F42;
   font-family: Roboto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-style: normal;
   font-size: 16px;
   line-height: 1.5;
   text-decoration: none;
 }


.site-nav:hover,
.site-nav:focus {
   color: var(--accent-color);
}



 .tel-list:hover,
  .tel-list:focus
 {
    color: var(--accent-color);
 }

 .list-mail:hover,
 .list-mail:focus {
    color: var(--accent-color);
 }

.container {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   padding: 0 16px;
   }

      .costumer-mini {
      max-width: 300px;
      }


.container-mini {
   max-width: 296px;
}

.header-list {
   display: none;
}


 .hero {
  background-color: #2E2F42;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-mobile.jpg);
            max-width: 100%;
               padding-top: 112px;
               padding-bottom: 112px;
          flex-grow: 1;
               justify-content: center;

 }

@media (min-device-pixel-ratio: 2),
(min-resolution: 192dpi),
(min-resolution: 2dppx) {
   .hero {
      background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
            url(../images/bg-mobile-2x.jpg);
   }
}

 .hero-title {
    color: #FFFFFF;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
    max-width: 320px;
 }
 
  .section{
   background: #FFFFFF;
   
  }

.section-title-none
{ visibility: hidden;
   pointer-events: none;
   position: absolute;
}
 .container-title{
   color: #FFFFFF;
   
 }
 
.title-none-portfolio {
   visibility: hidden;
      pointer-events: none;
      position: absolute;
}
 .section-title {
    color: var(--primary-text-color);
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 72px;
 }
  .text-team-title{
 padding-bottom: 32px;
border-bottom-right-radius: 4px;
border-bottom-left-radius: 4px;
 box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
   0px 1px 1px rgba(46, 47, 66, 0.16),
   0px 1px 6px rgba(46, 47, 66, 0.08);
  }
      .icons {
         display: none;
      }
 
  .icons-link
  {
   padding: 24px 100px 24px 100px;
   background-color: #F4F4FD;
   gap: 24px;

  }
  
 .feature-list {
    color: var(--primary-text-color);
    margin: 0 auto;
    padding-bottom: 72px;

 }

 .feature-list-title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
 }


 
  .text {
   font-size: 16px;
   line-height: 1.5;
   margin-top: 8px;
   font-weight: 500;
 }

 .work-list {
    display: none;
 }

 .text-team {
font-size: 16px;
   line-height: 1.5;
   text-align: center;
   margin-bottom: 8px;
 }
 
 
 .text-footer
 {color: #F4F4FD;
   font-size: 16px;
   line-height: 1.5;
   letter-spacing: 0.02em;
   margin-top: 16px;
   width: 264px;
 }

 .accent
 {
    color: var(--accent-color);
    font-weight: 800;
   font-size: 18px;
    line-height: 1.3;
    font-family: Raleway, cursive;
    text-decoration: none;
 }

 


 .team-list-title {
   color: var (--title-text-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
 }
 

 .button {
    background: #4D5AE5;
    color: #FFFFFF;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
   margin: 0 auto;
      display: block;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      padding: 16px 32px 16px 32px;
      border: none;
 }

.button:hover,
.button:focus {
background: #404BBF;
}



 .filter-btn-primary
 {
   background: var(--accent-color);
    color: #FFFFFF;
    font-family: roboto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
   font-size: 16px;
    line-height: 1.5;
      border-radius: 4px;
      padding: 12px 24px 12px 24px;
    border: none;
 }

 .filter-btn-secondary {
    background: #F4F4FD;
   color: var(--accent-color);
   font-family: roboto;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   border: 1px solid #E7E9FC;
    border-radius: 4px;
    padding: 12px 24px 12px 24px;
    min-width: 78px;
    align-items: center;
 }
 .filter-btn-secondary:hover,
 .filter-btn-secondary:focus {
background: var(--accent-color);
   color: #FFFFFF;
 }


 .section-title-portfolio
 {color: var(--primary-text-color);
   font-weight: 500;
   font-size: 20px;
   line-height: 1.2;
   text-decoration: none;
   margin-bottom: 8px;
 }

 .text-portfolio {
   color: var(--primary-text-color);
   font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  
 }
.filters-section {
   padding-top: 96px;
   display: flex;
   padding-bottom: 120px;
}

.first-item {
   padding-top: 32px;
   padding-bottom: 32px;
   padding-left: 16px;
   border-bottom: 1px solid #E7E9FC;
   border-left: 0.5px solid #F4F4FD;
   border-right: 0.5px solid #F4F4FD;;


}

.second-item
{

}

.filters{
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 24px;

}


.filter-btn-primary:focus,
.filter-btn-primary:hover {
   box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 2px 1px rgba(0, 0, 0, 0.08),
      0px 3px 1px rgba(0, 0, 0, 0.1);}


      .filter-btn-secondary:focus,
      .filter-btn-secondary:hover {
         box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
            0px 2px 1px rgba(0, 0, 0, 0.08),
            0px 3px 1px rgba(0, 0, 0, 0.1);

      }


.list-portfolio{
   display: flex;
   margin-top: 72px;
   flex-wrap: wrap;
   gap: 24px;

}

.foto-link-portfolio:hover,
.foto-link-portfolio:focus
{ box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12),
   0px 2px 1px rgba(0, 0, 0, 0.08),
   0px 3px 1px rgba(0, 0, 0, 0.1);}

.foto-link-portfolio:hover .portfolio-top-text
 {transform: translateY(0);

}


.foto-link-portfolio {
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  
}

.portfolio-top {
position: relative;
overflow: hidden;
}

.portfolio-top-text {
   position: absolute;
   height: 100%;
  top: 0;
  padding: 40px;
   font-size: 16px;
      line-height: 1.5;
      color: #F4F4FD;
      background-color: #404BBF;
      background-blend-mode: soft-light;
      transform: translateY(100%);
      transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow: auto;
}

.potfolio-img{
  margin-top: 72px;
  display: flex;
}
.section-work {
   background: #F4F4FD;
   padding-top: 96px;
   padding-bottom: 128px;

}

.footer {
background-color: #2E2F42;
   padding-top: 96px;
   padding-bottom: 96px;
   justify-content: center;

}
   .work-img {
      display: flex;
      gap: 24px;
     
   }

.list-color{
   background-color: #FFFFFF;
   margin-bottom: 72px;
  
}
.background {
   position: absolute;
      width: 1440px;
      height: 600px;
      left: 0px;
      top: 72px;
      background-image: url("./images/people-office 1.img");
      background-size: cover;
      background: rgba(46, 47, 66, 0.7);
}


.costumer {
   background-color: #FFFFFF;
   padding-top: 96px;
   padding-bottom: 96px;
}

.social-icon {
   display: flex;
   justify-content: center;
   gap: 24px;
   
}

.social-link:hover,
.social-link:focus
 {background: #404BBF;
   
}

.social-link {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background-color: #4D5AE5;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.social-list-icon {
  fill: #f4f4fd;
}

.social-icon:hover,
.social-icon:focus {
   fill: #BDC3C7;
}

.company-logo {
   display: flex;
   justify-content: center;
   gap: 16px;
   flex-wrap: wrap;

}
.link-logo-company {
width: calc((100% - 16px) / 2);
}

    

.company-link {
display: flex;
   justify-content: center;
   align-items: center;
   padding: 16px 32px;
   width: 100%;
   height: 88px;
   border-radius: 4px;
   transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   border: 1px solid #8E8F99;
      border-color: #8E8F99;
  
}

.company-link:hover,
.company-link:focus {
   border: 1px solid #404BBF;
}

.company-link:hover .company-list-icon,
.company-link:focus .company-list-icon {
   fill: #404BBF;
}


.company-list-icon {
   fill: #AFB1B8;
   transition:  fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-text {
   color: #F4F4FD;
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 16px;
      text-align: center;
     
}

.online-form {
align-items: center;
   justify-content: center;

}

.social-link-footer {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40px;
   height: 40px;
   border-radius: 50%;
   background: rgba(255, 255, 255, 0.1);
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
         color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:focus,
.social-link-footer:hover {
   background-color: #31D0AA;
}

.social-link-moby {
   display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background-color: #4D5AE5;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-moby:focus,
.social-link-moby:hover {
   background: #404BBF;
}


.link-studio-moby {
   margin-top: 32px;
   margin-bottom: 40px;
}
.link-portfolio-moby {
   margin-bottom: 40px;
}

.link-contacts-moby {
   margin-bottom: 50px;
}

.link-tel-moby
 {
   color: #4D5AE5;
   transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-weight: 600;
   font-size: 20px;
   line-height: 1.1;
   text-decoration: none;
   letter-spacing: 0.02em;
   text-transform: capitalize;
   
}
.link-tel-moby-list {
margin-bottom: 40px;
}


.link-tel-moby:hover,
.link-tel-moby:focus {
   color: var(--accent-color);
}
.link-mail-moby-list {
   margin-bottom: 40px;
}

.site-nav-moby {
   color: #2E2F42;
   transition:
      color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-weight: 600;
   font-size: 36px;
   line-height: 1.1;
   text-decoration: none;
   letter-spacing: 0.02em;
   text-transform: capitalize;
}

.site-nav-moby:hover,
.site-nav-moby:focus {
   color: var(--accent-color);
}

.link-nav-moby {

 color: #2E2F42;
 transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 font-weight: 500;
 font-size: 20px;
 line-height: 1.2;
 text-decoration: none;
 letter-spacing: 0.02em;
 }

 .link-nav-moby:hover,
 .link-nav-moby:focus {
    color: var(--accent-color);
 }

.link-mail-moby {
   margin-bottom: 40px;
   color: #2E2F42;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-mail-moby:hover,
.link-mail-moby:focus {
   color: var(--accent-color);
}

.social-list-footer-moby {
   display: flex;
   gap: 20px;
}

.moby-menu {
   width: 100%;
   height: 100vh;
   background-color: #FFFFFF;
   position: fixed;
   top: 0;
   z-index: 1;
   padding-top: 24px;
   padding-bottom: 40px;
   padding-left: 40px;
   padding-right: 40px;
}

.moby-menu > .container {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   overflow-y: auto;
}

.social-media {
   gap: 120px;
  margin-top: 72px;
 
}

.social-list-footer {
   display: flex;
   justify-content: center;
   gap: 16px;

}
.social-list-icon-techno {
   fill: #2E2F42;
}

.footer-cont {
 

}

.subscribe-container {

      margin-left: 0 auto;
      margin-top: 72px;
}

.container-footer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: start;
   max-width: 300px;
}


.frame-button {
   display: flex;
   align-items: center;
   background: #4D5AE5;
   color: #FFFFFF;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   font-weight: 500;
   font-size: 16px;
   line-height: 1.5;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
   padding: 8px 24px 8px 24px;
   border: none;
   margin-right: auto;
   margin-left: auto;
   
}

.frame-button:hover,
.frame-button:focus {
   background: #404BBF;
}


.online-input {
   background-color: transparent;
   width: 300px;
   height: 40px;
   border: 1px solid rgba(255, 255, 255, 0.3);
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   outline: transparent;
   padding-left: 16px;
   margin-bottom: 16px;

}

.online-input:hover,
.online-input:focus {
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border: 1px solid #4D5AE5;
}

.online-input:focus::placeholder {
   color: #FFFFFF;
}

.oline-item {
color: #FFFFFF;
font-size: 12px;

}

.icon-frame{
   fill: #FFFFFF;
   margin-left: 16px;
}

.icon-menu-charm {
stroke: #2E2F42;
   width: 100%;
   height: 100%;
   display: block;
   margin-left: auto;
   }
      .menu-open-btn {
         background-color: #FFFFFF;
         border: none;
         margin-left: auto;
      }


.backdrop{
   position: fixed;
   top: 0;
   width: 100%;
   height: 100%;
background-color: rgba(46, 47, 66, 0.4);
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal{
   transform: translate(-50%, -50%) scale(0) rotate(-180deg);
}
.is-hidden {
   opacity: 0;
   visibility: hidden;
   pointer-events: none;
}
.modal {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) scale(1) rotate(0);
   padding: 24px;
width: 100%;
min-height: 586px;
background-color: #FCFCFC;
border-radius: 4px;
transition: transform  250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-close {
   fill: currentColor;
   width: 100%;
   height: 100%;
}

.modal-close {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 24px;
   width: 24px;
   border: 1px solid rgba(0, 0, 0, 0.1);
   border-radius: 50%;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: block;
      margin-left: auto;
      margin-bottom: 24px;
}

.list-feauter-text:nth-of-type(1)
 {
   margin-top: 96px;
}

.list-feauter-text:nth-of-type(2),
.list-feauter-text:nth-of-type(3),
.list-feauter-text:nth-of-type(4) {
   margin-top: 72px;
}

 .modal-close:hover,
 .modal-close:focus {
    background: #404BBF;
    color: #FFFFFF;
   box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
 }


 .modal-close-moby {
    display: block;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
 }

 .modal-close-moby:hover,
 .modal-close-moby:focus {
    background: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
 }


 .menu-close-moby {
    display: block;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
       color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    margin-left: auto;
    margin-bottom: 24px;
 }

 .menu-close-moby:hover,
 .menu-close-moby:focus {
    background: #404BBF;
    color: #FFFFFF;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
 }

 .modal-title {
   font-weight: 500;
   size: 16px;
   line-height: 1.5;
   color: #2E2F42;
   text-align: center;
   margin-bottom: 14px;

 }

 .modal-input {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 40px;
   border: 1px solid rgba(33, 33, 33, 0.2);
   border-radius: 4px;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
   padding-left: 38px;
   outline: transparent;
 }

 .modal-input::placeholder, .modal-comment  {
font-size: 12px;
line-height: 1.33;
color: rgba(117, 117, 117, 0.5);


 }

 .modal-input-text {
   font-size: 12px;
   line-height: 1.33;
   color: #8E8F99;
   margin-bottom: 4px;
   display: block; 
  
 }


 .input-wrap:hover .modal-input, 
 .input-wrap:hover .modal-input:focus {
    border: 1px solid #4D5AE5;
   fill: #4D5AE5;
 }

 .input-wrap:hover .modal-input-icon, 
 .input-wrap:hover .modal-input-icon:focus {
    fill: #4D5AE5;
 }

 .modal-input-icon {
   position: absolute;
   left: 16px;
   top: 20px;
   transform: translateY(-50%);
   fill: #2E2F42;

 }

 .modal-comment:hover,
 .modal-comment:focus {
   border: 1px solid #4D5AE5;
   fill: #4D5AE5;
 }

 .modal-field {
   margin-bottom: 8px;
 }

 .input-wrap {
   position: relative;
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
   fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

 }

 .modal-button {
    background: #4D5AE5;
    width: 169px;
    height: 56px;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-family: roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    display: block;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 16px 32px 16px 32px;
    border: none;
    margin-top: 16px;
 }

 .modal-button:hover,
 .modal-button:focus {
    background: #404BBF;
 }

 .modal-comment {
   width: 100%;
   height: 120px;
   border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      padding-left: 38px;
      outline: transparent;
      padding: 16px;
      resize: none;

 }

 .check-text {
   font-size: 12px;
   color: #757575;
   line-height: 1.33;
   display: flex;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), ;
 }

 .check-text::before {
   content: "";
   width: 16px;
   height: 16px;
   border: 1.25px solid #2E2F42;
   border-radius: 2px;
   margin-right: 8px;
 }

 .modal-check:checked + .check-text::before{
   background-color: #404BBF;
   border: none;
   background-image: url(../images/check.svg);
   background-position: center;
   background-repeat: no-repeat;
   border: 1px solid #4D5AE5;
 } 

 .modal-check {
   transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .accent-policy {
   font-size: 12px;
      color: #4D5AE5;
      line-height: 1.33;
      display: flex;
      text-decoration: underline;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), 
      text-decoration 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .accent-policy:hover,
 .accent-policy:focus {
   color: #404BBF;
   text-decoration: underline;

 }


